/*FORMULAIRE*/

body{
	text-align:center;
	background-image: url(fond.gif);
	background-size:cover;
	background-position:center;
	flex-direction: row;
	margin: 10%;
	padding: 0px;
}

.arrondi
{
	border:solid 2px black;
	border-radius:20px;
	font-style:italic;
	margin-top:-10%
	
}

h1{
	color:white;
	font-size:40px;
	text-decoration:underline dotted white;
	text-shadow:3px 3px 3px blue;
}

h2{
	color:white;
	text-decoration:underline;
	text-decoration:underline white;
}

.lab{
	font-size:18px;
	color:yellow;
}

span{
	color: red;
	text-decoration:underline wavy red;
}


#soul{
	text-decoration:underline wavy red;
}
	
	
	
	
/*AGENDA*/

.ag19{
	background-image:url(fondbulle.gif);
}

.arrondi
{
	border:solid 2px black;
	border-radius:20px;
	font-style:italic;
	margin-top:-10%
	
}

h1{
	color:white;
	font-size:40px;
	text-decoration:underline dotted white;
	text-shadow:3px 3px 3px turquoise;
}

#tab{

	
}	

thead{
	padding-left:100%;
}

.ag{
	color:black;
	font-size:40px;
	
	
}





#div1{
	
}
	
	
	
	
	
	



	

