/*FORMULAIRE*/

body{
	text-align:center;
	background-image: url(fond.gif);
	background-size:cover;
	background-position:center;
	flex-direction: row;
	margin: 10%;
	padding: 0px;
}

.arrondi
{
	border:solid 2px black;
	border-radius:20px;
	font-style:italic;
	margin-top:-10%
	
}

h1{
	color:white;
	font-size:40px;
	text-decoration:underline dotted white;
	text-shadow:3px 3px 3px blue;
}

h2{
	color:white;
	text-decoration:underline;
	text-decoration:underline white;
}

.lab{
	font-size:18px;
	color:yellow;
}

span{
	color: red;
	text-decoration:underline wavy red;
}


#soul{
	text-decoration:underline wavy red;
}
	
	
	
	
/*AGENDA*/

.ag19{
	background-image:url(fondbulle.gif);
}



.ag{
	font-size:200%;
}



.arrondi
{
	border:solid 2px black;
	border-radius:20px;
	font-style:italic;
	margin-top:-10%	
}



h1{
	color:white;
	font-size:40px;
	text-decoration:underline dotted white;
	text-shadow:3px 3px 3px turquoise;
}



.t1{
	border-collapse:solid 2px black;
	border-radius:20px;
}



.bas{
	display:flex;
	flex-direction: row;
	justify-content: center;	
}



#bas1{
		
}



#bas2{
	padding: 0px 0px 0px;

}



#bas3{
	padding-right: 35px;
	padding-top: 3%;
}



#test1 {
	width:22%;
	padding-top: 3%;
}



.table	{
	display: flex;
	margin: 0;
	font-size: 30px;
}



.t2{
	width:100%;
	heigth:100%
	border:solid 1px black;
	border:collapse;
}	



td{
	font-size:25px;
	border:solid 1px black;
	border: collapse;
}



.td1{
	font-size:110%;
	border:solid 0px;
	border: collapse;
}	
	
	
	
#text1 {
	font-size:18;
	margin-left: 50%;
	align-content: space-between;
}



ul {
	width:50%;	
}


li {
	list-style-type: none;	
}



#turquoise {
background-color:#57F0F3;
width: 150px;
font-size:20px;
}



#blue {
	background-color: blue;
	width: 150px;
	font-size:20px;
}

	
#green{
	background-color:#EBA7F0;
	width: 150px;
	font-size:20px;
}



#yellow{
	background-color:#F30712;
	width: 150px;
	font-size:20px;
}


#red{
	background-color:#F30712;
}


#rdv{
	font-size:15px;
}


#j{
	color:white;
}


#vac{
	background-color:#57F0F3;
}


#fer{
	background-color:#EBA7F0;	
}


a{
	color:black;
	font-size: 20px;
}